<!doctype html>

<head>
<title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">  
  <link rel="stylesheet" href="/css">
  
</head>


<html>
<body>

<div class="login">  
   <form method="post" action="/register">
   <h2>Registruj se!</h2>
    <fieldset>
       <input type="text" placeholder="E-mail" name="email">
       <input id="sred" type="password" placeholder="Password" name="password">
       <input id="dole" type="text" placeholder="Repeat" name="pass2">
    </fieldset>
   <input type="submit" value="Log In" name="sub" >     
   </form> 
  </div>

</body>
</html>